[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/start/vim-visual-multi"]
	path = pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "bundle/js-beautify"]
	path = bundle/js-beautify
	url = https://github.com/beautify-web/js-beautify
[submodule "bundle/vim-evokai"]
	path = bundle/vim-evokai
	url = https://github.com/amadeus/vim-evokai
[submodule "bundle/vim-buftabline"]
	path = bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-ReplaceWithRegister"]
	path = bundle/vim-ReplaceWithRegister
	url = https://github.com/inkarkat/vim-ReplaceWithRegister.git
[submodule "bundle/vim-system-copy"]
	path = bundle/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy.git
